<%- include('../layout/start') %>
<%- include('../layout/navbar',{x}) %>
<section class="w-100 d-flex justify-content-center py-3">
<div class="container m-0 p-0 " style="background-color: rgb(220, 222, 224);">
    <%- include('../layout/address') %>
</div>
</section>
<%- include('../layout/footer') %>
<%- include('../layout/end') %>
