<%- include('../layout/start') %>
    <%- include('../layout/navbar',{x}) %>
        <style>
            li {
                list-style: none;
                display: flex;
                justify-content: space-between;
            }
        </style>
        <section class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__text">
                            <h4>Shopping Cart</h4>
                            <div class="breadcrumb__links">
                                <a href="./index.html">Home</a>
                                <a href="./shop.html">Shop</a>
                                <span>Shopping Cart</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Shopping Cart Section Begin -->
        <section class="shopping-cart spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="shopping__cart__table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% cartData.products.forEach((element,i)=> {%>


                                        <tr>
                                            <td class="product__cart__item">
                                                <div class="product__cart__item__pic">
                                                    <img style=" width: 100px;"
                                                        src="product/<%=element.product.image[0]%>" alt="">
                                                </div>
                                                <div class="product__cart__item__text">
                                                    <h6>
                                                        <%=element.product.title%>
                                                    </h6>
                                                    <!-- <h5><%=element.product.price%></h5> -->
                                                    <h5><span class="mx-2">₹<%=element.product.price%></span><br><small
                                                            class="mx-2 text-danger text-decoration-line-through"></small><span
                                                            class="text-success mx-2">
                                                            <%=(Math.round((element.product.discount*100)
                                                                /element.product.price))%>% off
                                                        </span></h5>

                                                </div>
                                            </td>
                                            <td class="quantity__item">
                                                <div class="quantity">
                                                    <div class="pro-qty-2 d-flex">
                                                        <button onclick="decrement('<%=element.product._id%>')"
                                                            style="width: 15px; height: 15px; border: none; font-size: large; padding-bottom: 5px;"
                                                            class="bg-white"><b>
                                                                <</b></button>
                                                        <input class="input" type="text"
                                                            id="<%=element.product._id%>value"
                                                            value="<%=element.stock%>">
                                                        <button onclick="increment('<%=element.product._id%>')"
                                                            style="width: 15px; height: 15px; border: none; font-size: large; padding-bottom: 5px;"
                                                            class="bg-white"><b>></b></button>

                                                    </div>
                                                </div>
                                            </td>
                                            <td id="<%=element.product._id%>price" class="cart__price">₹
                                                <%=element.totalprice%>
                                            </td>


                                            <td class="cart__close" data-bs-toggle="modal" data-bs-target="#myModal">
                                                x</b></td>


                                            <!-- The Modal -->
                                            <div class="modal" id="myModal">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">

                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                            <!-- <h4 class="modal-title">Modal Heading</h4> -->
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal"></button>
                                                        </div>

                                                        <!-- Modal body -->
                                                        <div class="modal-body d-flex justify-content-between">
                                                            <p><b> Do you want to delete this product?</b></p>
                                                            <button onclick="deletecart('<%=element.product._id%>')"
                                                                class="btn btn-danger">OK</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- moedl -->
                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>
                        </div>
                      
                    </div>
                    <div class="col-lg-4">
                        <div style="position: relative;" class="cart__discount">
                            <h6>Discount codes </h6>
                            <form id="form">
                                <input type="text" placeholder="Coupon code">
                                <button type="" id="coupon_show" class="ms-4" >SHOW</button>
                            </form>
                            <div id="coupon_area" class="bg-white p-2 shadow" style="width: 300px; position: absolute ; display: none;">
                                <% if(cartData.couponID){ %>
                                    <p style="font-weight: 900;" class="text-center text-danger text-uppercase m-0 p-0"> coupons already used</p> 
                                    <% }else{ %>
                                    <% if(coupon[0]){ %>
                                        <div>
                                <% coupon.forEach(element => {%>
                                
                                <div style="height: 120px; " class="m-2 card shadow bg-white d-flex row">
                                    <div class="w-25 h-100 d-flex justify-content-center align-items-center">
                                        <img class="w-100" style="height: 50px ;width: 80px;"
                                            src="/image/discount-coupon (2).png" alt="">
                                    </div>
                                    <div 
                                        class="w-75 h-100 d-flex flex-column justify-content-center align-items-center">
                                        <p class="p-0 m-0">Get extra <%=element.discount%>% off on Maximum amount ₹<%=element.MinimumDiscount %> (price inclusive of
                                            cashback) <button onclick="couponApply('<%=element._id%>')" style="border: 0px sol
                            white;border-radius: 3px; color: aliceblue;" class=" bg-success">click</button></p>

                                    </div>
                                </div>
                                
                                <%}); %>
                            </div>
                            <% }else{ %>
                                <p style="font-weight: 900;" class="text-center text-danger text-uppercase m-0 p-0">no coupons</p>
                                <% } %>
                                <% } %>
                            </div>
                        </div>
                        <div class="cart__total">
                            <h6>Cart total</h6>
                            <ul>
                                <li>Subtotal <span id="subtotal">₹<%=subtotal%></span></li>
                                <li>Discount <span id="subtotalDiscount" class="text-success">₹<%=subTotaldiscount%>
                                            </span></li>
                                            <% if(cartData.couponID){ %>
                                                <li>Total <span id="total" class="text-dark">₹<%=subtotal-subTotaldiscount-cartData.couponDiscount %></span> </li>
                                                <% }else{ %>
                                <li>Total <span id="total" class="text-dark">₹<%=subtotal-subTotaldiscount %></span> </li>
                                <% } %>
                                <b class="text-success">You will save <span id="subtotalDiscounts" class="m-0 p-0">₹
                                        <%=subTotaldiscount%></span> on this order</b>
                                        <b class="text-success"><span id="couponDiscounts" class="m-0 p-0"></span></b>
                                            <% if(cartData.couponID){ %>
                                                <b class="text-success"><span id="couponDiscount" class="m-0 p-0">You will Extra save ₹<%= cartData.couponDiscount %></span></b>
                                                <% } %>
                            </ul>
                            <a href="/checkout" class="primary-btn">Proceed to checkout</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- gugdhfdfisouvifvjif -->
            <div class="modal" tabindex="-1" id="saa">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Modal body text goes here.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <button id="out" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#outofstock">

        </button>
        <!-- The Modal -->
        <div class="modal" id="outofstock">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <!-- <h4 class="modal-title">Modal Heading</h4> -->
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body d-flex justify-content-between">
                        <p><b> Out of stock this product!!!!!!!!</b></p>
                        <button type="button" class="primary-btn" data-bs-dismiss="modal">OK</button>

                    </div>
                </div>
            </div>
        </div>

        <!-- Modal footer -->
        <script>
            $(document).ready(function () {
                const form =document.getElementById('form')
                form.addEventListener('submit',(e)=>{
                    e.preventDefault()
                })
                $('#out').hide()
                $('#coupon_show').click(()=>{
                    $('#coupon_area').toggle()
                })
            })
            function decrement(ID) {
                $.ajax({
                    url: `/decrement?id=${ID}`,
                    type: 'post',
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (res) {
                        console.log(res);

                    
                        if (res.ProductID == ID) {
                            $(`#${ID}value`).val(`${res.stock}`)
                            $(`#${ID}price`).text(`₹${res.totalprice}`)
                            $('#subtotal').text(`₹${res.subtotal}`)
                            $('#subtotalDiscount').text(`₹${res.subTotaldiscount}`)
                            $('#subtotalDiscounts').text(`₹${res.subTotaldiscount}`)
                            let total
                            if(res.CartData.couponID){
                                total = res.subtotal - res.subTotaldiscount-res.CartData.couponDiscount
                            }else{
                                total = res.subtotal - res.subTotaldiscount
                            }
                             
                            $('#total').text(`₹${total}`)
                            $(`#couponDiscounts`).text('')
                            $(`#couponDiscount`).text('')
                            
                            
                        }
                        let html
                        let html2=[]
                        res.coupon.forEach((element)=>{
                            html2+=` <div style="height: 120px; " class="m-2 card shadow bg-white d-flex row">
                                    <div class="w-25 h-100 d-flex justify-content-center align-items-center">
                                        <img class="w-100" style="height: 50px ;width: 80px;"
                                            src="/image/discount-coupon (2).png" alt="">
                                    </div>
                                    <div 
                                        class="w-75 h-100 d-flex flex-column justify-content-center align-items-center">
                                        <p class="p-0 m-0">Get extra ${element.discount}% off on Maximum amount ₹${element.MinimumDiscount } (price inclusive of
                                            cashback) <button onclick="couponApply('${element._id}')" style="border: 0px sol
                            white;border-radius: 3px; color: aliceblue;" class=" bg-success">click</button></p>

                                    </div>
                                </div>`
                        })
                        
                        $('#coupon_area').html('')
                        html=` ${res.CartData.couponID?
                            ` <p class="text-danger">Coupon already used</p>`:
                            `         <div>
                                ${html2}
                            </div>`} `
                            $('#coupon_area').html(html)
                            console.log(html);


                    }
                })
            }

            function increment(ID) {
                $.ajax({
                    url: `/increment?id=${ID}`,
                    type: 'post',
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (res) {
                        console.log(res);
                        if (res.ProductID == ID) {
                            $(`#${ID}value`).val(`${res.stock}`)
                            $(`#${ID}price`).text(`₹${res.totalprice}`)
                            $('#subtotal').text(`₹${res.subtotal}`)
                            $('#subtotalDiscount').text(`₹${res.subTotaldiscount}`)
                            $('#subtotalDiscounts').text(`₹${res.subTotaldiscount}`)
                            let total = res.subtotal - res.subTotaldiscount
                            $('#total').text(`₹${total}`)

                        }
                        if (res.outOfStock == true) {

                            $('#out').hide().click()

                        }
                        let html
                        let html2=[]
                        res.coupon.forEach((element)=>{
                            html2+=` <div style="height: 120px; " class="m-2 card shadow bg-white d-flex row">
                                    <div class="w-25 h-100 d-flex justify-content-center align-items-center">
                                        <img class="w-100" style="height: 50px ;width: 80px;"
                                            src="/image/discount-coupon (2).png" alt="">
                                    </div>
                                    <div 
                                        class="w-75 h-100 d-flex flex-column justify-content-center align-items-center">
                                        <p class="p-0 m-0">Get extra ${element.discount}% off on Maximum amount ₹${element.MinimumDiscount } (price inclusive of
                                            cashback) <button onclick="couponApply('${element._id}')" style="border: 0px sol
                            white;border-radius: 3px; color: aliceblue;" class=" bg-success">click</button></p>

                                    </div>
                                </div>`
                        })
                        
                        $('#coupon_area').html('')
                        html=` ${res.CartData.couponID?
                            ` <p class="text-danger">Coupon already used</p>`:
                            `         <div>
                                ${html2}
                            </div>`} `
                            $('#coupon_area').html(html)
                            console.log(html);

                    }
                })
            }
            $(document).ready(function () {
                var x = ($('.input').val());
                console.log(x);
                if ($('.input').val() < 0) {
                    $('.de').hide()
                } else {
                    $('.de').show()
                }
            })

            function deletecart(ID) {
                $.ajax({
                    url: `/deletecart?id=${ID}`,
                    type: 'post',
                    contentType: 'application/json',
                    dataType: 'json',
                    success: (res) => {
                        if (res.success) {
                            location.href = '/cart'
                        }
                    }
                })
            }

            function couponApply(id){
$.ajax({
    url:'/couponApply',
    type:'post',
    dataType:'json',
    contentType:'application/json',
    data:JSON.stringify({id}),
    success:(res)=>{
        console.log(res);
        if(res.success){
            $(`#couponDiscounts`).text(`You will Extra save ₹ ${res.MinimumDiscount}`)
            $('#coupon_show').click()
            $('#total').text(res.total)

                        let html
                        let html2=[]
                        res.coupon.forEach((element)=>{
                            html2+=` <div style="height: 120px; " class="m-2 card shadow bg-white d-flex row">
                                    <div class="w-25 h-100 d-flex justify-content-center align-items-center">
                                        <img class="w-100" style="height: 50px ;width: 80px;"
                                            src="/image/discount-coupon (2).png" alt="">
                                    </div>
                                    <div 
                                        class="w-75 h-100 d-flex flex-column justify-content-center align-items-center">
                                        <p class="p-0 m-0">Get extra ${element.discount}% off on Maximum amount ₹${element.MinimumDiscount } (price inclusive of
                                            cashback) <button onclick="couponApply('${element._id}')" style="border: 0px sol
                            white;border-radius: 3px; color: aliceblue;" class=" bg-success">click</button></p>

                                    </div>
                                </div>`
                        })
                        
                        $('#coupon_area').html('')
                        html=` ${res.CartData.couponID?
                            ` <p class="text-danger">Coupon already used</p>`:
                            `         <div>
                                ${html2}
                            </div>`} `
                            $('#coupon_area').html(html)
                            console.log(html);


        }
    }
})
            }
        </script>


        <%- include('../layout/footer') %>
            <%- include('../layout/end') %>